{
    "csrf": "",
    "csrfOld": "",
    "date": "1970-01-01",
    "osuApiKey": "",
    "resultsPost": {
        "osu": "",
        "taiko": "",
        "catch": "",
        "mania": ""
    },
    "resultsTime": "next Sunday",
    "session": "",
    "sessionOld": "",
    "time": "21:00:00",
    "title": "Project Loved: Week of January 1st",
    "videos": {
        "intro": "",
        "osu": "",
        "taiko": "",
        "catch": "",
        "mania": ""
    }
}
