{
  "date": "1970-01-01",
  "time": "00:00:00",
  "title": "Project Loved: Week of January 1st",
  "videos": {
    "osu": "XXXXXXXXXXX",
    "taiko": "XXXXXXXXXXX",
    "catch": "XXXXXXXXXXX",
    "mania": "XXXXXXXXXXX"
  },

  "image": {
    "width": 1000,
    "height": 400,
    "template": "light",
    "shadow": {
      "offset": 2,
      "size": 4,
      "color": "#00000080"
    },
    "title": {
      "x": 500,
      "y": 293,
      "size": 30,
      "font": "Exo2-SemiBoldItalic"
    },
    "artist": {
      "x": 500,
      "y": 323,
      "size": 20,
      "font": "Exo2-SemiBoldItalic"
    },
    "creator": {
      "x": 500,
      "y": 354,
      "size": 14,
      "font": "Exo2-Regular",
      "fontEm": "Exo2-SemiBold"
    }
  }
}
