{
    "cloudflare": {
        "id": "",
        "clearance": ""
    },
    "csrf": "",
    "csrfOld": "",
    "discord": {
        "osu": "",
        "taiko": "",
        "catch": "",
        "mania": ""
    },
    "lovedApiKey": "",
    "lovedRoundId": 0,
    "month": "January",
    "osuApiKey": "",
    "pollStartGuess": "next weekend",
    "resultsPost": {
        "osu": "",
        "taiko": "",
        "catch": "",
        "mania": ""
    },
    "session": "",
    "sessionOld": "",
    "userAgent": "",
    "username": "",
    "videos": {
        "intro": "",
        "osu": "",
        "taiko": "",
        "catch": "",
        "mania": ""
    }
}
