{
    "captains": {
        "osu": [],
        "taiko": [],
        "catch": [],
        "mania": []
    },
    "cloudflare": {
        "id": "",
        "clearance": ""
    },
    "csrf": "",
    "csrfOld": "",
    "date": "1970-01-01",
    "discord": {
        "osu": "",
        "taiko": "",
        "catch": "",
        "mania": ""
    },
    "month": "January",
    "osuApiKey": "",
    "pollStartGuess": "next weekend",
    "resultsPost": {
        "osu": "",
        "taiko": "",
        "catch": "",
        "mania": ""
    },
    "session": "",
    "sessionOld": "",
    "time": "21:00:00",
    "title": "Project Loved: January 1970",
    "userAgent": "",
    "username": "",
    "videos": {
        "intro": "",
        "osu": "",
        "taiko": "",
        "catch": "",
        "mania": ""
    }
}
