@import url('https://fonts.googleapis.com/css?family=Exo+2:400,600,600i');

* {
  margin: 0;
  padding: 0;
}

img, p {
  position: fixed;
  width: 100%;
}

img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

p {
  color: #fff;
  font-family: 'Exo 2';
  font-style: italic;
  font-weight: 600;
  text-align: center;
  text-shadow: 0 2px 2px #0007;
}

#title {
  font-size: 30px;
  margin-top: 281px;
}

#artist {
  font-size: 20px;
  margin-top: 316px;
}

#creator {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  margin-top: 357px;
}

b {
  font-weight: 600;
}
