@import url('https://fonts.googleapis.com/css?family=Exo+2:400,600,600i');

* {
  margin: 0;
  padding: 0;
}

img, p {
  position: fixed;
  width: 100%;
}

img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

p {
  color: #fff;
  font-family: 'Exo 2';
  font-style: italic;
  font-weight: 600;
  text-align: center;
  text-shadow: 0 1px 2px #0007;
}

#title {
  font-size: 21px;
  margin-top: 219px;
}

#artist {
  font-size: 14px;
  margin-top: 242.5px;
}

#creator {
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  margin-top: 264px;
}

b {
  font-weight: 600;
}
